<!DOCTYPE html>
<html>
<head>

  <!-- Meta -->
  <meta charset="utf-8" data-dynamic-entity="1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" data-dynamic-entity="1">
  <title id="page-title" data-dynamic-entity="3" >Customer | Submit</title>

  <!-- CSS -->
  <link rel="stylesheet" data-dynamic-entity="1" type="text/css" href="https://static.secure.website/library/users/common.css">
  <link id="site.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10535370/css/site.css?r=20190531173332" data-file="site.css" data-dynamic-entity="2" />
  <link id="site-gfonts" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&amp;subset=all" type="text/css" rel="stylesheet" data-dynamic-entity="2" />
  <link id="layout-desktop.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10535370/css/layout-desktop.css?r=20190531173332" data-file="layout-desktop.css" data-viewport="desktop" data-dynamic-entity="2" />
  <link id="position.css" type="text/css" rel="stylesheet" href="css/position.css" data-file="position.css" data-dynamic-entity="3" />
  <link id="index.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10535370/css/index.css?r=20190531173147" data-file="index.css" data-dynamic-entity="3" />
  <link id="index-layout-desktop.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10535370/css/index-layout-desktop.css?r=20190531173147" data-file="index-layout-desktop.css" data-viewport="desktop" data-dynamic-entity="3" />
  <link type="text/css" rel="stylesheet" href="https://static.secure.website/library/users/magnific-popup/dist/magnific-popup.css" id="magnific-popup-css" data-dynamic-entity="3" />

  <!-- JS -->
  <script type="text/javascript" data-dynamic-entity="4" data-editor-friendly="1">var _wsConfig = {"blog":{"id":147858,"pages":{"blog":"blog","post":"blog\/post\/{post_id}"}},"renderViewports":["desktop"],"convertedViewports":["desktop","phone"]};var _wsProps = {};</script>
  <script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1">if (typeof jQuery === "undefined") {document.write(unescape('%3Cscript src="https://static.secure.website/library/jquery/jquery-1.11.1.min.js" data-dynamic-entity="1" type="text/javascript"%3E%3C/script%3E'));}</script>
  <script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1">var $j = jQuery.noConflict();</script><script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1" src="https://static.secure.website/library/users/common.js"></script>

  <!-- HC -->

  <meta content="en-us" http-equiv="Content-Language" />

</head>
<body>

  <header>
    <div id="header-wrap">
    <div id="header-full" class="content-full">
    <div class="content-inner">
    </div>
    </div>
    <div id="header-fixed" class="content-fixed">
    <div class="content-inner">
    <div id="hdr_imageContainer_72" class="wse-img wse-img-df hidden-phone wse-ani" border="0" objtype="0" style="position:absolute;" data-animate-duration="1" data-animate-effect="fadeInDown" data-animate-class="wse-ani-fade-in-down" data-animate-type="entrance" data-animate-delay="0" data-animate-loop="1" data-animate-on="load"><a rel="nofollow" class="wseA" href="https://www.tacobell.com/">
    <div class="wseI">
    <img data-scale="crop" data-image-focal-point="0.5,0.5" data-image-src="https://static.secure.website/wscfus/10535370/10330078/screen-shot-2019-05-16-at-103234-am-w218-o.png" data-image-dimensions="218x180" data-srcset="https://static.secure.website/wscfus/10535370/10330078/screen-shot-2019-05-16-at-103234-am-w218-o.png 218w, https://static.secure.website/wscfus/10535370/10330078/screen-shot-2019-05-16-at-103234-am-w100-o.png 100w" class="load-image" /></div></a>
    <div class="wseSHBL"></div>
    <div class="wseSHBR"></div>
    <div class="wseSHTL"></div>
    <div class="wseSHTR"></div></div>
    <div id="hdr_txtBox_187" objtype="2" style="position:absolute;padding:0px;display:block;" class="wse-txt-con clr-txt-75 wse-ani" data-phone-prominent-size="20" data-animate-duration="1" data-animate-effect="fadeInDown" data-animate-class="wse-ani-fade-in-down" data-animate-type="entrance" data-animate-delay="0" data-animate-loop="1" data-animate-on="load"><h5 class="wse-txt-h5"><span class="wse-txt-inner clr-txt-75 fs-36" data-font-size="36"><span class="wse-txt-size"><a rel="nofollow" href="https://tacobell.com"><span class="clr-txt-75">Taco Bell</span></a></span></span></h5></div></div>
    </div>
    <div id="header-bg" class="bg-container" style="width:100%;height:100%;position:absolute;">
    <div class="content-fixed bg wse-hd clr-bkg-61 wse-hd-df" objtype="35"><div class="content-inner">
    <div class="wseSHBL"></div>
    <div class="wseSHBR"></div>
    <div class="wseSHTL"></div>
    <div class="wseSHTR"></div></div></div></div>
    </div>
  </header>
  
  <div id="body-content" data-manual-drag-desktop="490" data-manual-drag-phone="1059" class="without-footer">
  <div id="body-full" class="content-full"><div class="content-inner"><shared>

</head>
<style>
  input[type=button], input[type=submit], input[type=reset] {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 12px 24px;
      position: relative;
      left: 300px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: Raleway;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
  }

  .button1 {
      background-color: white; 
      color: black; 
      border: 2px solid #4CAF50;
  }

  body { font-family: Raleway; }
  h1 { font-size: 18pt; color: #6FB73A; }
  h2 { font-size: 12pt; color: #6FB73A; }

</style>

<style type="text/css">
<!--
 .tab { margin-left: 300px; }
-->
</style>

  <body>
    <h1 class="tab" style="text-align:left">Meraki Device Provisioning</h1>
  	<p class="tab" style="text-align:left"><a href="/">Taco Bell - Meraki</a> | <a href="/AddDevice">Add Device(s) to Existing Network</a>  | <a href="/CreateNetwork">Create New Network</a> | <a href="/ReplaceDevice">Replace Existing Device</a></p>
  	
  	<hr />
  	{% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <p><span class="tab" style="text-align:left" style="color: green;">{{ message }}</span></p>
          {% endfor %}
      {% endif %}
      {% endwith %}
  	<hr />
    <form action="/" method="get">

      <div class="clear"></div>
      <div class="clear"></div>
      <div class="button"><input type="submit" value="Back"></div>

    </form>
  </body>
</html>