
<!DOCTYPE html>
<html>
<head>

  <!-- Meta -->
  <meta charset="utf-8" data-dynamic-entity="1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" data-dynamic-entity="1">
  <title id="page-title" data-dynamic-entity="3" >Tilly's | Replace Device</title>

  <!-- CSS -->
  <link rel="stylesheet" data-dynamic-entity="1" type="text/css" href="https://static.secure.website/library/users/common.css">
  <link id="site.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10536142/css/site.css?r=20190604165003" data-file="site.css" data-dynamic-entity="2" />
  <link id="site-gfonts" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&amp;subset=all" type="text/css" rel="stylesheet" data-dynamic-entity="2" />
  <link id="layout-desktop.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10536142/css/layout-desktop.css?r=20190604165003" data-file="layout-desktop.css" data-viewport="desktop" data-dynamic-entity="2" />
  <link id="position.css" type="text/css" rel="stylesheet" href="css/position.css" data-file="position.css" data-dynamic-entity="3" />
  <link id="index.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10536142/css/index.css?r=20190604165003" data-file="index.css" data-dynamic-entity="3" />
  <link id="index-layout-desktop.css" type="text/css" rel="stylesheet" href="https://static.secure.website/client-site-resources/10536142/css/index-layout-desktop.css?r=20190604165003" data-file="index-layout-desktop.css" data-viewport="desktop" data-dynamic-entity="3" />
  <link type="text/css" rel="stylesheet" href="https://static.secure.website/library/users/magnific-popup/dist/magnific-popup.css" id="magnific-popup-css" data-dynamic-entity="3" />

  <!-- JS -->
  <script type="text/javascript" data-dynamic-entity="4" data-editor-friendly="1">var _wsConfig = {"blog":{"id":148379,"pages":{"blog":"blog","post":"blog\/post\/{post_id}"}},"renderViewports":["desktop"],"convertedViewports":["desktop","phone"]};var _wsProps = {};</script>
  <script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1">if (typeof jQuery === "undefined") {document.write(unescape('%3Cscript src="https://static.secure.website/library/jquery/jquery-1.11.1.min.js" data-dynamic-entity="1" type="text/javascript"%3E%3C/script%3E'));}</script>
  <script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1">var $j = jQuery.noConflict();</script><script type="text/javascript" data-dynamic-entity="1" data-editor-friendly="1" src="https://static.secure.website/library/users/common.js"></script>

  <!-- HC -->

  <meta content="en-us" http-equiv="Content-Language" />

</head>
<body>

  <header>
    <div id="header-wrap">
    <div id="header-full" class="content-full">
    <div class="content-inner">
    </div>
    </div>
    <div id="header-fixed" class="content-fixed">
    <div class="content-inner">
    <div id="hdr_imageContainer_254" class="wse-img wse-img-df hidden-phone wse-ani" border="0" objtype="0" style="position:absolute;" data-animate-duration="1" data-animate-effect="fadeInDown" data-animate-class="wse-ani-fade-in-down" data-animate-type="entrance" data-animate-delay="0" data-animate-loop="1" data-animate-on="load"><a rel="nofollow" class="wseA" href="https://www.tillys.com/">
    <div class="wseI">
    <img data-scale="crop" data-image-focal-point="0.5,0.5" data-image-src="https://static.secure.website/wscfus/10536142/10340970/tillys-w450-o.png" data-image-dimensions="450x112" data-srcset="https://static.secure.website/wscfus/10536142/10340970/tillys-w450-o.png 450w, https://static.secure.website/wscfus/10536142/10340970/tillys-w300-o.png 300w, https://static.secure.website/wscfus/10536142/10340970/tillys-w100-o.png 100w" class="load-image" /></div></a>
    <div class="wseSHBL"></div>
    <div class="wseSHBR"></div>
    <div class="wseSHTL"></div>
    <div class="wseSHTR"></div></div></div>
    </div>
    <div id="header-bg" class="bg-container" style="width:100%;height:100%;position:absolute;">
    <div class="content-fixed bg wse-hd clr-bkg-61 wse-hd-df" objtype="35"><div class="content-inner">
    <div class="wseSHBL"></div>
    <div class="wseSHBR"></div>
    <div class="wseSHTL"></div>
    <div class="wseSHTR"></div></div></div></div>
    </div>
  </header>

  <div id="body-content" data-manual-drag-desktop="490" data-manual-drag-phone="1059" class="without-footer">
  <div id="body-full" class="content-full"><div class="content-inner"><shared>

<!-- Style-->

<style>
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  position: relative;
  left: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Raleway;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
</style>

<style type="text/css">
<!--
 .tab { margin-left: 300px; }
-->
</style>

<style>
  body { font-family: Raleway; }
  h1 { font-size: 18pt; color: #6FB73A; }
  h2 { font-size: 12pt; color: #6FB73A; }
  .networkfield {
    width: 500px;
    height: 40px;
    position: relative;
    left: 300px;
  }
  .addressfield {
    width: 500px;
    height: 75px;
    position: relative;
    left: 300px;
  }
  .serialfield {
    width: 300px;
    height: 30px;
    position: relative;
    left: 300px;
    float: left;
    clear: none;
  }
  .namefield {  
    height: 30px;
    width: 300px;
    position: relative;
    left: 300px;
    float: left;
    clear: none;
  }
  .clear {
    clear: both;
  }

</style>

<body>
<h1  class="tab" style="text-align:left">Meraki Device Provisioning</h1>
<h2  class="tab" style="text-align:left">Replace a Device</h2>
  
  <p class="tab" style="text-align:left;">Instructions:</p>
  <ul>
    <li class="tab" style="text-align:left;">Make sure to select the correct Network</li>
    <li class="tab" style="text-align:left;">Serial Numbers can be found on the box or on the bottom/back of the device</li>
    <li class="tab" style="text-align:left;">For best results with barcode scanner, set the scanner to add a "tab" suffix</li>
    <li class="tab" style="text-align:left;">Serial Numbers must be in format "Q2XX-XXXX-XXXX"</li>
  </ul>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="networkfield">
            {{ form.networkField.label }}: 
            {{ form.networkField() }}
            {% for error in form.networkField.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="clear"></div>
        <div class="serialfield">
            {{ form.oldSwitch.label }}
            {{ form.oldSwitch(size=20, maxlength = 14) }}
            {% for error in form.oldSwitch.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="clear"></div>
        <br />
        <div class="namefield">
            {{ form.newSwitch.label }}
            {{ form.newSwitch(size=25, maxlength = 25) }}
            {% for error in form.newSwitch.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="clear"></div>
        <br />
        <br />
        <p class="tab" style="text-align:left">Demo Devices:</p>
        <ul>
          <li class="tab" style="text-align:left">Orig: Q2HP-99A3-DQY4</li>
          <li class="tab" style="text-align:left">RMA: Q2HP-E99M-ZNF2</li>
        </ul>

        <div class="clear"></div>
        <div class="clear"></div>
        <div class="button"><input type="submit"></div>
    </form>
</body>
</html>